name: Expressjs Build

on:
  workflow_run:
    workflows: ["Terraform Init, Plan & Apply"]
    types:
      - completed

jobs:
  build_backend:
    runs-on: ubuntu-latest
    environment: aws-terraform-env

    env:
      TF_REGION: ${{ secrets.TF_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Build Backend
        run: cd backend && npm ci && npm run build && zip -r lambda.zip dist node_modules package.json
      
      - name: Deploy Backend
        run: aws lambda update-function-code --function-name backend-api --zip-file fileb://backend/lambda.zip --region ${{ secrets.TF_REGION }}
