name: Nextjs Static Build

on:
  workflow_run:
    workflows: ["Terraform Init, Plan & Apply"]
    types:
      - completed

jobs:
  build_frontend:
    runs-on: ubuntu-latest
    environment: aws-terraform-env

    env:
      TF_REGION: ${{ secrets.TF_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Deploy Frontend
        run: aws s3 sync frontend/out/ s3://my-nextjs-app-frontend-890/ --delete --region ${{secrets.TF_REGION}}
