name: Nextjs Static Build

on:
  workflow_run:
    workflows: ["Terraform Init, Plan & Apply"]
    types:
      - completed

jobs:
  build_frontend:
    runs-on: ubuntu-latest
    environment: aws-terraform-env

    env:
      TF_REGION: ${{ secrets.TF_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Download .env artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-env
          path: frontend

      - name: Build Frontend
        run: cd frontend && npm ci && npm run build
      
      - name: Deploy Frontend
        run: aws s3 sync frontend/out/ s3://my-nextjs-app-frontend-890/ --delete --region ${{secrets.TF_REGION}}
